.accounts-ui {
  padding: 16px;
  border: solid 3px #de4f4f;
  background: white;
  margin: 16px;
  max-width: 500px;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.accounts-ui .field-group {
  padding-bottom: 16px;
}
.accounts-ui .field-group label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0 8px;
}
.accounts-ui .field-group:last-child {
  padding-bottom: 0;
}
.accounts-ui .field input {
  width: 100%;
  font-size: 16px;
  height: 46px;
  box-sizing: border-box;
  line-height: 46px;
  padding: 8px 16px;
  background: white;
  border: solid 1px #ccc;
}
.accounts-ui a {
  display: inline-block;
  font-weight: bold;
  padding: 0 16px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  cursor: pointer;
  color: #999;
  text-decoration: none;
  font-weight: normal;
}
.accounts-ui .fields,
.accounts-ui .forgot-password {
  display: block;
  margin-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
}
.accounts-ui button {
  background: #999;
  outline: none;
  color: #fff;
  margin-right: 8px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 16px 24px;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}
.accounts-ui button[type="submit"] {
  background: #de4f4f;
}
.accounts-ui button[type="submit"]:focus,
.accounts-ui button[type="submit"]:hover {
  background-color: #e26464;
}
.accounts-ui button[type="submit"]:active {
  background-color: #da3a3a;
}
.accounts-ui button[disabled] {
  opacity: 0.5;
}
.accounts-ui button:focus,
.accounts-ui button:hover {
  background-color: #a6a6a6;
}
.accounts-ui button:active {
  background-color: #8c8c8c;
}
.accounts-ui .message {
  padding: 16px;
  background: #eee;
  margin-top: 16px;
}
.accounts-ui .or-sep {
  text-align: center;
  color: #aaa;
  padding: 16px;
  margin-bottom: 8px;
}
.accounts-ui .or-sep div {
  position: relative;
  display: inline;
}
.accounts-ui .or-sep div:before,
.accounts-ui .or-sep div:after {
  position: absolute;
  height: 1px;
  content: "";
  width: 30px;
  top: 50%;
  background: #aaa;
}
.accounts-ui .or-sep div:before {
  left: -40px;
}
.accounts-ui .or-sep div:after {
  right: -40px;
}
.accounts-ui .social-buttons {
  margin: -8px;
}
.accounts-ui .social-buttons a,
.accounts-ui .social-buttons button {
  display: block;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  color: white;
}
.accounts-ui .social-buttons a[disabled],
.accounts-ui .social-buttons button[disabled] {
  opacity: 0.5;
}
.accounts-ui .social-buttons a.facebook,
.accounts-ui .social-buttons button.facebook {
  background-color: #3b5998;
}
.accounts-ui .social-buttons a.facebook:focus,
.accounts-ui .social-buttons a.facebook:hover,
.accounts-ui .social-buttons button.facebook:focus,
.accounts-ui .social-buttons button.facebook:hover {
  background-color: #4264aa;
}
.accounts-ui .social-buttons a.facebook:active,
.accounts-ui .social-buttons button.facebook:active {
  background-color: #344e86;
}
.accounts-ui .social-buttons a.twitter,
.accounts-ui .social-buttons button.twitter {
  background-color: #0084b4;
}
.accounts-ui .social-buttons a.twitter:focus,
.accounts-ui .social-buttons a.twitter:hover,
.accounts-ui .social-buttons button.twitter:focus,
.accounts-ui .social-buttons button.twitter:hover {
  background-color: #0097ce;
}
.accounts-ui .social-buttons a.twitter:active,
.accounts-ui .social-buttons button.twitter:active {
  background-color: #00719b;
}
.accounts-ui .social-buttons a.google,
.accounts-ui .social-buttons button.google {
  background-color: #dc4a38;
}
.accounts-ui .social-buttons a.google:focus,
.accounts-ui .social-buttons a.google:hover,
.accounts-ui .social-buttons button.google:focus,
.accounts-ui .social-buttons button.google:hover {
  background-color: #e05e4e;
}
.accounts-ui .social-buttons a.google:active,
.accounts-ui .social-buttons button.google:active {
  background-color: #d53925;
}
.accounts-ui .social-buttons a.linkedin,
.accounts-ui .social-buttons button.linkedin {
  background-color: #1f88be;
}
.accounts-ui .social-buttons a.linkedin:focus,
.accounts-ui .social-buttons a.linkedin:hover,
.accounts-ui .social-buttons button.linkedin:focus,
.accounts-ui .social-buttons button.linkedin:hover {
  background-color: #2398d4;
}
.accounts-ui .social-buttons a.linkedin:active,
.accounts-ui .social-buttons button.linkedin:active {
  background-color: #1b78a8;
}
.accounts-ui .social-buttons a.instagram,
.accounts-ui .social-buttons button.instagram {
  background-color: #49769c;
}
.accounts-ui .social-buttons a.instagram:focus,
.accounts-ui .social-buttons a.instagram:hover,
.accounts-ui .social-buttons button.instagram:focus,
.accounts-ui .social-buttons button.instagram:hover {
  background-color: #5183ad;
}
.accounts-ui .social-buttons a.instagram:active,
.accounts-ui .social-buttons button.instagram:active {
  background-color: #41698b;
}
.accounts-ui .social-buttons a.youtube,
.accounts-ui .social-buttons button.youtube {
  background-color: #cc181e;
}
.accounts-ui .social-buttons a.youtube:focus,
.accounts-ui .social-buttons a.youtube:hover,
.accounts-ui .social-buttons button.youtube:focus,
.accounts-ui .social-buttons button.youtube:hover {
  background-color: #e31b21;
}
.accounts-ui .social-buttons a.youtube:active,
.accounts-ui .social-buttons button.youtube:active {
  background-color: #b5151b;
}
.accounts-ui .social-buttons a.meteor-developer,
.accounts-ui .social-buttons button.meteor-developer {
  background-color: #e0393e;
}
.accounts-ui .social-buttons a.meteor-developer:focus,
.accounts-ui .social-buttons a.meteor-developer:hover,
.accounts-ui .social-buttons button.meteor-developer:focus,
.accounts-ui .social-buttons button.meteor-developer:hover {
  background-color: #e34f53;
}
.accounts-ui .social-buttons a.meteor-developer:active,
.accounts-ui .social-buttons button.meteor-developer:active {
  background-color: #dd2329;
}
.accounts-ui .social-buttons a.meetup,
.accounts-ui .social-buttons button.meetup {
  background-color: #e0393e;
}
.accounts-ui .social-buttons a.meetup:focus,
.accounts-ui .social-buttons a.meetup:hover,
.accounts-ui .social-buttons button.meetup:focus,
.accounts-ui .social-buttons button.meetup:hover {
  background-color: #e34f53;
}
.accounts-ui .social-buttons a.meetup:active,
.accounts-ui .social-buttons button.meetup:active {
  background-color: #dd2329;
}
.accounts-ui .social-buttons a.github,
.accounts-ui .social-buttons button.github {
  background-color: #60b044;
}
.accounts-ui .social-buttons a.github:focus,
.accounts-ui .social-buttons a.github:hover,
.accounts-ui .social-buttons button.github:focus,
.accounts-ui .social-buttons button.github:hover {
  background-color: #6dbc52;
}
.accounts-ui .social-buttons a.github:active,
.accounts-ui .social-buttons button.github:active {
  background-color: #569e3d;
}
.accounts-ui .social-buttons a.weibo,
.accounts-ui .social-buttons button.weibo {
  background-color: #ffa00a;
}
.accounts-ui .social-buttons a.weibo:focus,
.accounts-ui .social-buttons a.weibo:hover,
.accounts-ui .social-buttons button.weibo:focus,
.accounts-ui .social-buttons button.weibo:hover {
  background-color: #ffaa24;
}
.accounts-ui .social-buttons a.weibo:active,
.accounts-ui .social-buttons button.weibo:active {
  background-color: #f09300;
}
.accounts-ui .social-buttons .col {
  display: block;
  float: left;
  padding: 8px;
  box-sizing: border-box;
}
.accounts-ui .social-buttons.cols-2 .col {
  width: 50%;
}
.accounts-ui .social-buttons.cols-3 .col {
  width: 33.33%;
}
.accounts-ui .social-buttons.cols-4 .col,
.accounts-ui .social-buttons.cols-5 .col,
.accounts-ui .social-buttons.cols-6 .col,
.accounts-ui .social-buttons.cols-7 .col,
.accounts-ui .social-buttons.cols-8 .col,
.accounts-ui .social-buttons.cols-9 .col {
  width: 50%;
}
.accounts-ui .social-buttons:after {
  content: "";
  display: block;
  clear: both;
}
